<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<!-- Top menu -->
<header>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper grey darken-3">
                <a href="/admin" class="brand-logo left">Admin</a>
                <ul class="right">
                    {{if .is_login}}
                    <li><a href="/latest" class="waves-effect waves-light">Магазин</a></li>
                    {{if .is_orders}} <li class="active"> {{else}} <li> {{end}}
                        <a href="/admin/orders" class="waves-effect waves-light">Заказы</a></li>
                    {{if .is_products}} <li class="active"> {{else}} <li> {{end}}
                        <a href="/admin/products" class="waves-effect waves-light">Товары</a></li>
                    {{if .is_categories}} <li class="active"> {{else}} <li> {{end}}
                        <a href="/admin/categories" class="waves-effect waves-light">Категории</a></li>
                    <li><a href="/logout" class="waves-effect waves-light">Выйти</a></li>
                    {{end}}
                </ul>
            </div>
        </nav>
    </div> <br/>
</header>

<main>
    {{.LayoutContent}}
</main>

<!--Scripts-->
<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
</body>
</html>
