<title>Категория</title>
<div class="container">
    Page N : {{.page}} <br/>
    Category : {{.categ}}

    <div class="row">
    {{range $key, $product := .products}}
        <div class="col s4">
            <div class="card hoverable" style="height: 400px"> <!-- For smooth grid (not working on large) -->
                <div class="card-image">
                    <a href="/product/{{$product.Id}}" class="waves-effect waves-light">
                        <img src = "{{$product.Image}}" class="responsive-img">
                        <a class="btn-floating btn-large halfway-fab waves-effect waves-light red hoverable"><i class="material-icons">add_shopping_cart</i></a>
                    </a>
                </div>
                <div class="card-content">
                    <a href = "/product/{{$product.Id}}">
                        <span class="flow-text card-title">{{$product.Name}}</span>
                    </a>
                    <p class="flow-text right-align"> {{$product.Price}}₽</p>
                </div>
            </div>
        </div>
    {{end}}
    </div>
</div>