<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <!--For Materialize-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>

<body>

<!-- Top menu -->
<header>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper  blue accent-4">
            <a href="" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right">
            {{if .is_latest}} <li class="active"> {{else}} <li> {{end}}
                <a href="/latest">Последние товары</a></li>
            {{if .is_cart}} <li class="active"> {{else}} <li> {{end}}
                   <a href="/cart">Корзина: <span id = "cart">{{.cartCount}}</span> </a> </li>
            {{if .is_login}}
            {{if .is_inlogin}} <li class="active"> {{else}} <li> {{end}}
                <a href="/home">Личный кабинет</a></li>
            {{else}}
                <li><a href="/auth" class="waves-effect waves-light btn small purple lighten-2">Войти<i class="material-icons right">assignment_ind</i></a></li>
            {{end}}
            </ul>
        </div>
    </nav>
    </div> <br/>
</header>

<!-- Left navigation -->
<ul id="slide-out" class="sidenav sidenav-fixed" style="width: 200px">
    <div class="blue accent-3" style="height: 64px">  </div>
    <!-- Lighten category in which the user is in -->
    {{$cats := .categories}}
    {{$catIds := .categoryId}}
        {{range $cat := $cats}}
            {{if $catIds}} <!-- If user is in categories, check what category is active -->
                {{range $catId := $catIds}}
                    {{if eq $cat.Id $catId.Id}} <!-- If category Id = id from GET (current page) -->
                        <li class="active purple lighten-4"> {{else}} <li> {{end}}
                {{end}}
             {{else}} <!-- If user is not in categories -->
              <li>
            {{end}}
            <a href="/catalog/{{$cat.Id}}" class="waves-effect waves-purple">{{$cat.Name}}</a>
            </li>
        {{end}}

    <!-- Lighten link if is active (value from controller) -->
    {{if .isActive}}
        <li class="active purple lighten-4">
    {{else}}
        <li>
    {{end}}
     <a href="/map" class="waves-effect waves-purple">Карта сайта</a>
    </li>

</ul>

<main>
    {{.LayoutContent}}
</main>

<!--Scripts-->
<!-- Add to cart button -->
<script src="/static/js/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        (function () {
            $(".add").click(function () {
                var id = $(this).attr("data-id");
                $.ajax({
                    type: "POST",
                    url: "/addtocart",
                    data: {"sel": id}
                }).done(function (msg) {
                    $("#cart").html(msg);

                });
            });
        })();
    });
</script>

<!-- Remove from cart button TODO: Delete this and use URLs to controller Delete: clean session, redirect to cart -->
<script>
    $(document).ready(function() {
        (function () {
            $(".del").click(function () {
                var id = $(this).attr("data-id");
                $.ajax({
                    type: "POST",
                    url: "/rmfromcart",
                    data: {"del": id}
                }).done(function (msg) {
                    $("#cart").html(msg);
                    location.reload();
                });
            });
        })();
    });
</script>

<!-- Change quantity -->
<script>
    $(document).ready(function() {
        (function () {
            $(".qnt").click(function () {
                var id = $(this).attr("data-id");
                var mark = $(this).attr("mark");
                $.ajax({
                    type: "POST",
                    url: "/chquantity",
                    data: {"mark": mark, "id": id}
                }).done(function (msg) {
                    $("#cart").html(msg);
                    location.reload();
                });
            });
        })();
    });
</script>

<!-- Show delivery address in order -->
<script>
    $(document).ready(function() {
        $(".cour").click(function () {
            $(".address").slideToggle(250);
        });
    });
</script>

<script src="/static/js/materialize.js"></script>
<script src="/static/js/init.js"></script>
</body>
</html>
