<title>Заказ</title>
<div class="container">
    <form action="/thanks" method="POST">
    <h4 class="center-align"> Детали заказа</h4> <br/>
    <div class="row">
        <div class="col s12">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Контактные данные</span><br/>
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="name" name="name" type="text" class="validate" required>
                        <label for="name">Имя</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">phone</i>
                        <input id="tel" name="tel" type="tel" class="validate" required>
                        <label for="tel">Телефон</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix">email</i>
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email">e-mail</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
        <div class="row">
            <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Способ доставки</span><br/>
                    <div class="row">
                        <p class="col s4">
                            <label>
                                <input class="with-gap" name="group1" type="radio" checked />
                                <span class="cour black-text">Самовывоз</span>
                            </label>
                        </p>
                        <p class="col s4">
                            <label>
                                <input class="with-gap" name="group1" type="radio"/>
                                <span class="cour black-text">Доставка курьером</span>
                            </label>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="address row" style="display:none;" >
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Адрес доставки</span><br/>
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="street" name="street" type="text">
                                <label for="street">Улица</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="house" name="house" type="text">
                                <label for="house">Дом</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="padik" name="padik" type="text">
                                <label for="padik">Подьезд</label>
                            </div>
                            <div class="input-field col s2">
                                <input id="flat" name="flat" type="text">
                                <label for="flat">Квартира</label>
                            </div>
                            <div class="input-field col s12">
                                <textarea id="comments" name="comments" placeholder="Например: домофон не работает, звоните. Первый подъезд от въезда" class="materialize-textarea"></textarea>
                                <label for="comments">Комментарий</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Ваш заказ</span>

                    <table>
                        <tbody>
                        {{range .cart}}
                            <tr>
                                <td>- {{.Name}}</td>
                                <td>{{.Price}} ₽</td>
                                <td>{{.Quantity}} шт.</td>
                            </tr>
                        {{end}}
                        <td colspan="4"><b>Итого: {{.sum}} ₽ </b></td>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
        <div class="col s12">
            <button class="waves-effect waves-light btn-large purple lighten-2 right" type="submit"> Оформить заказ </button>
        </div>
    </div>
    </form>
</div>
