<title>Корзина</title>
<div class="container">
{{if .cart}}
    <table class="highlight">
        <thead>
        <tr>
            <th>Код</th>
            <th>Название</th>
            <th>Стоимость</th>
            <th>Кол-во</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
    {{range .cart}}
        <tr>
            <td>{{.Code}}</td>
            <td> <a href="/product/{{.Id}}"> {{.Name}} </a></td>
            <td>{{.Price}} ₽</td>
            <td>
                <a href="/qnt/0/{{.Id}}" class = "waves-effect waves-teal btn-flat">-</a>
                    {{.Quantity}}
                <a href="/qnt/1/{{.Id}}" class = "waves-effect waves-teal btn-flat">+</a> </td>
            <td>
                <a href="/rm/{{.Id}}" class="btn-small halfway-fab waves-effect waves-light red hoverable"><i class="material-icons">remove_shopping_cart</i></a>
            </td>
        </tr>
    {{end}}
    <tr>
        <td colspan="4"> <b>Итого</b> </td>
        <td><b>{{.sum}} руб.</b></td>
    </tr>
        </tbody>
    </table> <br/>
    <a href="/order" class="waves-effect waves-light btn small purple lighten-2">Оформить заказ</a></li>
{{else}}
    У Вас нет ни одного товара в корзине!
{{end}}
</div>
